<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>K101班</title>
    <link rel="stylesheet" href="../static/bots335/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/bots335/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/know.css">
    <script src="../static/bots335/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.12.4.js" type="text/javascript"></script>
    <link href="../static/bots335/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        /* #tbStu tr th{background-color:#ccc;color:#fff}*/
        table tr{background:lavenderblush;}
    </style>
</head>
<body>
<style type="text/css">
    *{
        margin: 0;
        padding: 0;
    }
    table{
        background-color:#333;
        border-bottom:1px solid #777;
        width: 100%;
        height:35px;
    }
    ul{
        margin-top: 9px;
    }
    li {
        list-style: none;
        width: 50px;
        height: 30px;
        text-align: center;
        margin-left:-16px;
    }
    b{
        color: white;
        font-size:12px;
        font-family:"宋体";
    }
    .low-button{
        width:120px; /* 宽度 */
        height: 22px; /* 高度 */
        border-width: 0px; /* 边框宽度 */
        border-radius:5px; /* 边框半径 */
        background-color:#F0F0F0;
        font-size: 12px;
        margin-top: 3px;
    }

    .drop-button{
        width: 120px;
        height: 22px;
        border-width: 0px; /* 边框宽度 */
        border-radius:5px; /* 边框半径 */
        background-color:#F2F2F2;
        margin-top: 3px;
    }
    .axc{
        font-size: 12px;
        color: black;
        font-family:"宋体";
    }
    .dropdown-menu{
        background-color: steelblue;
        min-width:100%;
        border: 0px;
    }

</style>
<div class="row">
    <div class="col-sm-12">
        <table>
            <tr>
                <td>
                    <div style="padding:3px 0 0 3px;">
                        <img src="../static/bots335/img/1.jpg" border="0" />
                    </div>
                </td>
                <td>
                    <p style="color:#ddd; font-size: 12px;">
                        欢迎访问全管ERP+生产在线试用系统，试用其他产品点击如下链接：
                        <a href="http://oa.guanli360.com/" target="_blank">OA在线试用系统</a>、
                        <a href="http://crm.guanli360.com/" target="_blank">CRM在线试用系统</a>、
                        <a href="http://erp.guanli360.com/" target="_blank">ERP在线试用系统</a>
                    </p>
                </td>
                <td align="right" style="text-align:right;">
                    <div style="margin:4px 35px 0 0;">
                        <a title="计算器"><img src="../static/bots335/img/4.jpg" border="0" /></a>
                        <a title="农历（阴阳日历）"><img src="../static/bots335/img/1.jpg" border="0" /></a>
                    </div>
                </td>
                <td width="40">
                    <a title="注销退出" style="display:block;padding:4px 0 3px 6px;background-color:#900;border:1px solid #333;">
                        <img src="" border="0" style="display:block;" />
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-2" style="width: 50px;height:600px;margin-left: 30px;background-color:dimgrey;">
            <img src="../static/bots335/img/2.jpg" />
            <ul>
                <li><a><b>办公</b></a></li>
                <li><a><b>交流</b></a></li>
                <li><a><b>销售</b></a></li>
                <li><a><b>采购</b></a></li>
                <li><a><b>仓储</b></a></li>
                <li><a><b>项目</b></a></li>
                <li><a><b>生产</b></a></li>
                <li><a><b>服务</b></a></li>
                <li><a><b>后勤</b></a></li>
                <li><a><b>人事</b></a></li>
                <li><a><b>财务</b></a></li>
                <li><a><b>报表</b></a></li>
                <li><a><b>系统</b></a></li>
            </ul>
            <img src="../static/bots335/img/7.jpg" />
        </div>
        <div class="col-sm-3" style="background-color: steelblue;width: 150px; height: 600px;">
            <div class="low">

            </div>
            <div class="col-sm-3" style="background-color:lemonchiffon;width:1335px; height: 600px;" id="welcome" >
                <div class="container">

                    <h3>会员客户信息</h3>
                    <form action="/member/memberlist" method="post">

                        <div class="row">
                            <div class="col-sm--1"></div>
                            <div class="col-sm-4">会员号：
                                <input type="text"  name="memberId" id="memberId"/>

                            </div>
                            <div class="col-sm--1"></div>
                            <div class="col-sm-8">会员姓名：
                                <input type="text"  name="memberName" id="memberName"/>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm--1"></div>
                            <div class="col-sm-4">会员手机号：
                                <input type="text"  name="memberPhone" id="memberPhone"/>
                            </div>

                            <div class="col-sm-8"></div>
                            <div class="col-sm--2">
                                <input class="btn btn-info" type="submit" value="查询"/>
                                <input class="btn btn-info" type="submit" id="qk" value="清空查询"/>

                            </div>

                        </div>
                    </form>	<br/>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover">
                                <tr class="info">
                                    <th></th>
                                    <th>会员号</th>
                                    <th>会员名</th>
                                    <th>会员手机号</th>
                                    <th>会员等级</th>
                                    <th>会员性别</th>
                                    <th>会员生日</th>
                                    <th>有效期</th>
                                    <th>客户</th>
                                    <th>积分</th>

                                </tr>
                                <tr th:each="les :${memberlist.list }">
                                    <td> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ></td>
                                    <td th:text="${les.memberId}"></td>
                                    <td th:text="${les.memberName}"></td>
                                    <td th:text="${les.memberPhone}"></td>
                                    <td th:text="${les.memberGrade}"></td>
                                    <td th:text="${les.memberSex}"></td>
                                    <td th:text="${les.memberDate}"></td>
                                    <td th:text="${les.memberEffdate}"></td>
                                    <td th:text="${les.memberClient}"></td>
                                    <td th:text="${les.memberIntegral}"></td>

                                </tr>

                            </table>
                        </div>
                        </table>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-5">
                                <ul class="pagination">

                                    <li><a th:href="@{/member/memberlist(index=1)}">首页</a> </li>

                                    <li><span th:switch="${memberlist.pageIndex}">
                                        <a th:case="1" th:href="@{/member/memberlist(index=1)}">上一页</a>
                                        <a th:case="*" th:href="@{/member/memberlist(index=${memberlist.pageIndex-1})}">上一页</a>
                                        </span>
                                    </li>

                                    <li>
                                        <span th:switch="${memberlist.pageIndex}">
                                        <a th:case="${memberlist.pageNumber}" th:href="@{/member/memberlist(index=${memberlist.pageNumber})}">下一页</a>
                                        <a th:case="*" th:href="@{/member/memberlist(index=${memberlist.pageIndex+1})}">下一页</a>
                                        </span>
                                    </li>
                                    <li><a th:href="@{/member/memberlist(index=${memberlist.pageNumber})}">尾页</a></li>

                                   <!-- <li><a th:href="@{list?index=1}">首页</a></li>
                                    <li> <a th:href="@{list?(index=${memberlist.pageIndex>1?memberlist.pageIndex-1:1})}">上一页</a></li>
                                    <li> <a th:href="@{list?(index=${memberlist.pageIndex<memberlist.pageNumber?memberlist.pageIndex+1:memberlist.pageNumber})}">下一页</a></li>
                                    <li><a th:href="@{list?(index=${memberlist.pageNumber})}">末页</a></li>-->
                                    &nbsp;   &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    第<span th:text="${memberlist.pageIndex}"></span>页/共<span th:text="${memberlist.pageNumber}"></span>页
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $("#qk").click(function(){
        $("#memberId").val("");
        $("#memberName").val("");
        $("#memberPhone").val("");




    })
</script>
</html>