#inters{
    position: relative;
    right: -70px;
    top: -60px;
}

#systems{
    position: relative;
    right: -70px;
    top: -60px;
}
#tabContent{
    position: relative;
    right: -90px;
    top: -60px;
}