<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件与持久化接口通过namespace属性进行关联，-->
<mapper namespace="com.csdj.enterprise.dao.produce.ProductionlbMapper">
    <resultMap id="ProductionlbMap" type="Productionlb">
        <id property="productionId" column="productionId"></id>
        <result property="date" column="date"></result>
        <result property="demand" column="demand"></result>
        <result property="pending" column="pending"></result>
        <result property="maturity" column="maturity"></result>
        <association property="documentId" column="documentId"/>
        <association property="warehouseId" column="warehouseId"/>
        <association property="materialsId" column="materialsId"/>
    </resultMap>
    <select id="findSelect" resultMap="ProductionlbMap">
        SELECT * FROM productionlb
        <where>
            <if test="documentId!=null">
                 documentId=#{documentId}
            </if>
            <if test="documentId!=null and materialsId!=null">
                and
            </if>
            <if test="materialsId!=null">
               materialsId=#{materialsId}
            </if>
        </where>
        limit #{begin},#{end}
   </select>
    <select id="total" resultType="int">
        SELECT COUNT(1) FROM productionlb
        <where>
            <if test="documentId!=null">
                 documentId=#{documentId}
            </if>
            <if test="documentId!=null and materialsId!=null">
                and
            </if>
            <if test="materialsId!=null">
                materialsId=#{materialsId}
            </if>
        </where>
    </select>
</mapper>
