<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改物料清单</title>
    <script src="../static/bots335/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.12.4.js" type="text/javascript"></script>
    <link href="../static/bots335/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h4>修改物料清单</h4>
    <hr>
    <form action="/Bomlb/findUpdate" method="post" id="info">
        <div class="form-horizontal" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label">编号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="id" th:value="${bomlb.bomId}"readOnly=readOnly>
                </div>
                <label class="col-sm-3 control-label">默认</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="defaults"th:value="${bomlb.defaults}"readOnly=readOnly>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">物料</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="materialsId" th:value="${bomlb.materialsId}"readOnly=readOnly>
                </div>
                <label class="col-sm-3 control-label">仓库</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="warehouseId" id="warehouseId"th:value="${bomlb.warehouseId}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">备注</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="note" id="note" th:value="${bomlb.note}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-9">
                    <input type="submit" value="保存" class="btn btn-info"/>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
<script type="text/javascript">
    $("#info").submit(function() {
        var warehouseId=$("#warehouseId").val();
        if(warehouseId==""){
            alert("仓库不能为空");
            return false;
        }else{
            return true;
        }
    })
</script>
</html>