<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>制令单管理</title>
    <script src="../static/bots335/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.12.4.js" type="text/javascript"></script>
    <link href="../static/bots335/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-4"><h2>制令单管理</h2></div>
    </div>

    <div class="row">
        <form action="/Morder/findSelect" method="post">
            <div class="col-sm-1">MRP运算编号:</div>
            <div class="col-sm-3">
                <input type="text" placeholder="请输入MRP运算编号"name="mrp"/>
            </div>
            <div class="col-sm-1">产品:</div>
            <div class="col-sm-3">
                <input type="text" placeholder="请输入产品"name="productId"/>
            </div>
            <input type="submit" value="提交查询" class="btn btn-info"/>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12"></div>
        <table class="table table-bordered table-hover ">
            <thead>
            <tr class="info">
                <th>编号</th>
                <th>制令日期</th>
                <th>要求交期</th>
                <th>生产计划</th>
                <th>MRP运算编号</th>
                <th>产品</th>
                <th>数量</th>
                <th>预入仓库</th>
                <th>备注</th>
                <th>上级</th>
            </tr>
            <tr th:each="p:${pu.listb}">
                <td><a th:href="@{/Morder/morderIdSelect(morderId=${p.morderId})}"><i th:text="${p.morderId}"></i></a></td>
                <td th:text="${p.odate}"></td>
                <td th:text="${p.delivery}"></td>
                <td th:text="${p.planId}"></td>
                <td th:text="${p.mrp}"></td>
                <td th:text="${p.productId}"></td>
                <td th:text="${p.quantity}"></td>
                <td th:text="${p.warehouseId}"></td>
                <td th:text="${p.note}"></td>
                <td th:text="${p.superior}"></td>
            </tr>
            </thead>
        </table>
        <div>
            <a th:href="@{/Morder/findSelect(index=1,sortId=${sortId})}">首页</a>

            <span th:switch="${pu.pageIndex}">
                                <a th:case="1"
                                   th:href="@{/Morder/findSelect(index=1,sortId=${sortId})}">上一页</a>
                                <a th:case="*"
                                   th:href="@{/Morder/findSelect(index=${pu.pageIndex-1},sortId=${sortId})}">上一页</a>
                                </span>

            <span th:switch="${pu.pageIndex}">
                                <a th:case="${pu.pageNumber}"
                                   th:href="@{/Morder/findSelect(index=${pu.pageNumber},sortId=${sortId})}">下一页</a>
                                <a th:case="*"
                                   th:href="@{/Morder/findSelect(index=${pu.pageIndex+1},sortId=${sortId})}">下一页</a>
                                </span>

            <a th:href="@{/Morder/findSelect(index=${pu.pageNumber},sortId=${sortId})}">尾页</a>
            &nbsp;&nbsp;
            第 <span th:text="${pu.pageIndex}"></span> 页 / 共
            <span	th:text="${pu.pageNumber}"></span> 页
        </div>
    </div>
</div>
</div>
</body>
</html>