<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>查看生产计划</title>
    <script src="../static/bots335/js/bootstrap.js" type="text/javascript"></script>
    <script src="../static/js/jquery-1.12.4.js" type="text/javascript"></script>
    <link href="../static/bots335/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h4>查看生产计划 </h4>
    <hr>
    <a th:href="@{/Plan/findUpdate(planId=${plan.planId})}" class="btn btn-info">修改</a>
    <a th:href="@{/Plan/planIdDelete(planId=${plan.planId})}" class="btn btn-info">删除</a>
    <table class="table table-bordered">
        <tr>
            <td style="width: 100px">编号</td>
            <td th:text="${plan.planId}"></td>
            <td style="width: 100px">下单日期</td>
            <td th:text="${plan.odate}"></td>
            <td style="width: 100px">要求交期</td>
            <td th:text="${plan.delivery}"></td>
        </tr>
        <tr>
            <td>产品</td>
            <td th:text="${plan.productId}"></td>
            <td>BOM</td>
            <td th:text="${plan.bomId}"></td>
            <td>数量</td>
            <td th:text="${plan.quantity}"></td>
        </tr>
        <tr>
            <td>需求核销数</td>
            <td th:text="${plan.demand}"></td>
            <td>备料期限</td>
            <td th:text="${plan.term}"></td>
            <td>计划人</td>
            <td th:text="${plan.plannerId}"></td>
        </tr>
        <tr>
            <td>计划职位</td>
            <td th:text="${plan.plannerId}"></td>
            <td>计划部门</td>
            <td th:text="${plan.plannerId}"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>备注</td>
            <td th:text="${plan.note}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>